.hero {
    background: url('https://avatars.mds.yandex.net/get-pdb/1088712/8b19d278-0b9b-46f8-89e4-66f5541efc55/s1200?webp=false') no-repeat center center;
    background-size: cover;
    height: 600px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    font-size: 4em;
}
.product-card {
    margin-bottom: 30px;
}
.product-card img {
    max-height: 200px;
    object-fit: cover;
}
.nav_ul li {
    padding-inline: 10px;
}
.nav_ul li:hover {
    background-color: rgb(214, 210, 210);
    border-radius: 25px;
}
.productLink{
    text-decoration: none;
    color: black;
}
.productLink:hover{
    text-decoration: none;
    color: black;
}
