<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Rewrite cart URL" stopProcessing="true">
                    <match url="^cart$" />
                    <action type="Rewrite" url="/cart.cfm" />
                </rule>
                <rule name="Rewrite home URL" stopProcessing="true">
                    <match url="^home$" />
                    <action type="Rewrite" url="/home.cfm" />
                </rule>
                <rule name="ProductDetailsRewrite">
                    <match url="^product-details/([0-9]+)" />
                    <action type="Rewrite" url="/productDetails.cfm?id={R:1}" />
                </rule>
                <!-- <rule name="ProductDetailsRewrite" stopProcessing="true">
                    <match url="^product-details/([0-9]+)/([a-zA-Z0-9-]+)" />
                    <action type="Rewrite" url="/productDetails.cfm?id={R:1}&name={R:2}" />
                </rule>  -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>


